h2{
    font-size: 3em;
    height: 90px;
    text-align: center;
}
#img{
    width: 100%;
}
#espacio{
    background-color: black;
    height: 70px;
}

#imgfund{
    display: block;
    margin: auto;
}

#textfund{
    text-align: justify;
    display: block;
    padding: 50px;
}

#imgsomos{
    display: block;
    margin: auto;
}
#textsomos{
    text-align: justify;
}

#texthist{
    max-height: 1000px;
}
#imghist{
    display: block;
    margin: auto;
}