#card{
    gap: 30px;
    cursor: pointer;
    transition: .3s ease all;
}
section{
    display: block;
    margin: auto;
}
#card1{
    border: 1px solid rgb(33, 36, 43);
    border-radius: 1em;
    display: block;
    margin: auto;
    height: 180px;
}
.card-title{
    text-align: center;
}
.btn{
    text-align: center;
    display: block;
    margin: auto;
}
#texto{
    text-align: center;
}
#prod{
    height: 50%;
    width: auto;
    display: block;
    margin: auto;
}