#serv{
    border-color: black;
    border: 1px solid black;
    padding: 10px;
    height: 300px;
}
#servimg{
    height: 150px;
    display: block;
    margin: auto;
}
#imagenes{
    height: 150px;
}
.contenedor-preguntas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
.contenedor-preguntas{
    background: #fff;
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}
.contenedor-pregunta:hover{
    box-shadow: rgb(33, 36, 43);
}
.contenedor-preguntas.activa{
    border: 2px solid red;
}



